solution/DeploymentV2/terraform/modules/data_factory_pipelines_azure/arm/GPL_AzureBlobStorage_Json_AzureSqlTable_NA.json
{
   "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
   "contentVersion": "1.0.0.0",
   "parameters": {
      "dataFactoryName": {
         "metadata": "The name of the data factory",
         "type": "String"
      },
      "integrationRuntimeName": {
         "metadata": "The name of the integration runtime this pipeline uses",
         "type": "String"
      },
      "integrationRuntimeShortName": {
         "metadata": "The short name of the integration runtime this pipeline uses",
         "type": "String"
      },
      "sharedKeyVaultUri": {
         "metadata": "The uri of the shared KeyVault",
         "type": "String"
      }
   },
   "resources": [
      {
         "apiVersion": "2018-06-01",
         "name": "[concat(parameters('dataFactoryName'), '/','GPL_AzureBlobStorage_Json_AzureSqlTable_NA_', parameters('integrationRuntimeShortName'))]",
         "properties": {
            "activities": [
               {
                  "dependsOn": [ ],
                  "name": "Pipeline AF Log - ADLS to Azure SQL Start",
                  "type": "ExecutePipeline",
                  "typeProperties": {
                     "parameters": {
                        "Body": {
                           "type": "Expression",
                           "value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":3,\"LogSource\":\"ADF\",\"ActivityType\":\"Copy to SQL\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"Status\":\"Started\"}'))"
                        },
                        "FunctionName": "Log",
                        "Method": "Post"
                     },
                     "pipeline": {
                        "referenceName": "GPL_AzureFunction_Common",
                        "type": "PipelineReference"
                     },
                     "waitOnCompletion": false
                  },
                  "userProperties": [ ]
               },
               {
                  "dependsOn": [
                     {
                        "activity": "Pipeline AF Log - ADLS to Azure SQL Start",
                        "dependencyConditions": [
                           "Succeeded"
                        ]
                     }
                  ],
                  "inputs": [
                     {
                        "parameters": {
                           "FileName": {
                              "type": "Expression",
                              "value": "@pipeline().parameters.TaskObject.Source.DataFileName"
                           },
                           "RelativePath": {
                              "type": "Expression",
                              "value": "@pipeline().parameters.TaskObject.Source.RelativePath"
                           },
                           "StorageAccountContainerName": {
                              "type": "Expression",
                              "value": "@pipeline().parameters.TaskObject.Source.StorageAccountContainer"
                           },
                           "StorageAccountEndpoint": {
                              "type": "Expression",
                              "value": "@pipeline().parameters.TaskObject.Source.StorageAccountName"
                           }
                        },
                        "referenceName": "[concat('GDS_AzureBlobStorage_Json_', parameters('integrationRuntimeShortName'))]",
                        "type": "DatasetReference"
                     }
                  ],
                  "name": "Copy to SQL",
                  "outputs": [
                     {
                        "parameters": {
                           "Database": {
                              "type": "Expression",
                              "value": "@pipeline().parameters.TaskObject.Target.Database.Name"
                           },
                           "Schema": {
                              "type": "Expression",
                              "value": "@pipeline().parameters.TaskObject.Target.StagingTableSchema"
                           },
                           "Server": {
                              "type": "Expression",
                              "value": "@pipeline().parameters.TaskObject.Target.Database.SystemName"
                           },
                           "Table": {
                              "type": "Expression",
                              "value": "@pipeline().parameters.TaskObject.Target.StagingTableName"
                           }
                        },
                        "referenceName": "[concat('GDS_AzureSqlTable_NA_', parameters('integrationRuntimeShortName'))]",
                        "type": "DatasetReference"
                     }
                  ],
                  "policy": {
                     "retry": 0,
                     "retryIntervalInSeconds": 30,
                     "secureInput": false,
                     "secureOutput": false,
                     "timeout": "7.00:00:00"
                  },
                  "type": "Copy",
                  "typeProperties": {
                     "enableStaging": false,
                     "parallelCopies": {
                        "type": "Expression",
                        "value": "@pipeline().parameters.TaskObject.DegreeOfCopyParallelism"
                     },
                     "sink": {
                        "disableMetricsCollection": false,
                        "preCopyScript": {
                           "type": "Expression",
                           "value": "@{pipeline().parameters.TaskObject.Target.PreCopySQL}"
                        },
                        "type": "AzureSqlSink"
                     },
                     "source": {
                        "formatSettings": {
                           "type": "JsonReadSettings"
                        },
                        "storeSettings": {
                           "recursive": true,
                           "type": "AzureBlobStorageReadSettings"
                        },
                        "type": "JsonSource"
                     }
                  },
                  "userProperties": [ ]
               },
               {
                  "dependsOn": [
                     {
                        "activity": "Copy to SQL",
                        "dependencyConditions": [
                           "Failed"
                        ]
                     }
                  ],
                  "name": "Pipeline AF Log - ADLS to Azure SQL Failed",
                  "type": "ExecutePipeline",
                  "typeProperties": {
                     "parameters": {
                        "Body": {
                           "type": "Expression",
                           "value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":1,\"LogSource\":\"ADF\",\"ActivityType\":\"Copy to SQL\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"EndDateTimeOffSet\":\"', string(utcnow()), '\",\"Comment\":\"', string(activity('Copy to SQL').error.message), '\",\"Status\":\"Failed\"}'))"
                        },
                        "FunctionName": "Log",
                        "Method": "Post"
                     },
                     "pipeline": {
                        "referenceName": "GPL_AzureFunction_Common",
                        "type": "PipelineReference"
                     },
                     "waitOnCompletion": false
                  },
                  "userProperties": [ ]
               },
               {
                  "dependsOn": [
                     {
                        "activity": "Copy to SQL",
                        "dependencyConditions": [
                           "Succeeded"
                        ]
                     }
                  ],
                  "name": "Pipeline AF Log - ADLS to Azure SQL Succeed",
                  "type": "ExecutePipeline",
                  "typeProperties": {
                     "parameters": {
                        "Body": {
                           "type": "Expression",
                           "value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":1,\"LogSource\":\"ADF\",\"ActivityType\":\"Copy to SQL\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"EndDateTimeOffSet\":\"', string(utcnow()), '\",\"RowsInserted\":\"', string(activity('Copy to SQL').output.rowsCopied), '\",\"Comment\":\"\",\"Status\":\"Complete\"}'))"
                        },
                        "FunctionName": "Log",
                        "Method": "Post"
                     },
                     "pipeline": {
                        "referenceName": "GPL_AzureFunction_Common",
                        "type": "PipelineReference"
                     },
                     "waitOnCompletion": false
                  },
                  "userProperties": [ ]
               },
               {
                  "dependsOn": [
                     {
                        "activity": "Pipeline AF Log - ADLS to Azure SQL Succeed",
                        "dependencyConditions": [
                           "Succeeded"
                        ]
                     }
                  ],
                  "name": "Execute AZ_SQL_Post-Copy",
                  "type": "ExecutePipeline",
                  "typeProperties": {
                     "parameters": {
                        "TaskObject": {
                           "type": "Expression",
                           "value": "@pipeline().parameters.TaskObject"
                        }
                     },
                     "pipeline": {
                        "referenceName": "[concat('GPL_AzureSqlTable_NA_Post_Copy_', parameters('integrationRuntimeShortName'))]",
                        "type": "PipelineReference"
                     },
                     "waitOnCompletion": true
                  },
                  "userProperties": [ ]
               }
            ],
            "annotations": [ ],
            "folder": {
               "name": "[concat('ADS Go Fast/Data Movement/', parameters('integrationRuntimeName'))]"
            },
            "lastPublishTime": "2020-07-29T09:43:40Z",
            "parameters": {
               "TaskObject": {
                  "type": "object"
               }
            }
         },
         "type": "Microsoft.DataFactory/factories/pipelines"
      }
   ]
}
