solution/DataFactory/Patterns/output/GPL_AzureBlobStorage_Excel_AzureSQLTable_NA_IRA.json
{
  "name": "GPL_AzureBlobStorage_Excel_AzureSQLTable_NA_IRA",
  "properties": {
    "activities": [
      {
        "name": "Pipeline AF Log - ADLS to Azure SQL Start",
        "type": "ExecutePipeline",
        "dependsOn": [],
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "AZ_Function_Generic",
            "type": "PipelineReference"
          },
          "waitOnCompletion": false,
          "parameters": {
            "Body": {
              "value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":3,\"LogSource\":\"ADF\",\"ActivityType\":\"Copy to SQL\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"Status\":\"Started\"}'))",
              "type": "Expression"
            },
            "FunctionName": "Log",
            "Method": "Post"
          }
        }
      },
      {
        "name": "Copy to SQL",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "Pipeline AF Log - ADLS to Azure SQL Start",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "7.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "ExcelSource",
            "storeSettings": {
              "type": "AzureBlobFSReadSettings",
              "recursive": true
            }
          },
          "sink": {
            "type": "DelimitedTextSink",
            "storeSettings": {
              "type": "AzureBlobStorageWriteSettings"
            },
            "formatSettings": {
              "type": "DelimitedTextWriteSettings",
              "quoteAllText": true,
              "fileExtension": ".txt"
            }
          },
          "enableStaging": false,
          "parallelCopies": {
            "value": "@pipeline().parameters.TaskObject.DegreeOfCopyParallelism",
            "type": "Expression"
          }
        },
        "inputs": [
          {
            "referenceName": "GDS_AzureBlobStorage_Excel_IRA",
            "type": "DatasetReference",
            "parameters": {
              "RelativePath": {
                "value": "@pipeline().parameters.TaskObject.Source.RelativePath",
                "type": "Expression"
              },
              "FileName": {
                "value": "@pipeline().parameters.TaskObject.Source.DataFileName",
                "type": "Expression"
              },
              "StorageAccountEndpoint": {
                "value": "@pipeline().parameters.TaskObject.Source.StorageAccountName",
                "type": "Expression"
              },
              "StorageAccountContainerName": {
                "value": "@pipeline().parameters.TaskObject.Source.StorageAccountContainer",
                "type": "Expression"
              },
              "SheetName": {
                "value": "@pipeline().parameters.TaskObject.Source.SheetName",
                "type": "Expression"
              },
              "FirstRowAsHeader": {
                "value": "@pipeline().parameters.TaskObject.Source.FirstRowAsHeader",
                "type": "Expression"
              }
            }
          }
        ],
        "outputs": [
          {
            "referenceName": "AzureSqlTable_IRA",
            "type": "DatasetReference",
            "parameters": {
              "Schema": {
                "value": "@pipeline().parameters.TaskObject.Target.StagingTableSchema",
                "type": "Expression"
              },
              "Table": {
                "value": "@pipeline().parameters.TaskObject.Target.StagingTableName",
                "type": "Expression"
              },
              "Server": {
                "value": "@pipeline().parameters.TaskObject.Target.Database.SystemName",
                "type": "Expression"
              },
              "Database": {
                "value": "@pipeline().parameters.TaskObject.Target.Database.Name",
                "type": "Expression"
              }
            }
          }
        ]
      },
      {
        "name": "Pipeline AF Log - ADLS to Azure SQL Failed",
        "type": "ExecutePipeline",
        "dependsOn": [
          {
            "activity": "Copy to SQL",
            "dependencyConditions": [
              "Failed"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "AZ_Function_Generic",
            "type": "PipelineReference"
          },
          "waitOnCompletion": false,
          "parameters": {
            "Body": {
              "value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":1,\"LogSource\":\"ADF\",\"ActivityType\":\"Copy to SQL\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"EndDateTimeOffSet\":\"', string(utcnow()), '\",\"Comment\":\"', string(activity('Copy to SQL').error.message), '\",\"Status\":\"Failed\"}'))",
              "type": "Expression"
            },
            "FunctionName": "Log",
            "Method": "Post"
          }
        }
      },
      {
        "name": "Pipeline AF Log - ADLS to Azure SQL Succeed",
        "type": "ExecutePipeline",
        "dependsOn": [
          {
            "activity": "Copy to SQL",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "AZ_Function_Generic",
            "type": "PipelineReference"
          },
          "waitOnCompletion": false,
          "parameters": {
            "Body": {
              "value": "@json(concat('{\"TaskInstanceId\":\"', string(pipeline().parameters.TaskObject.TaskInstanceId), '\",\"ExecutionUid\":\"', string(pipeline().parameters.TaskObject.ExecutionUid), '\",\"RunId\":\"', string(pipeline().RunId), '\",\"LogTypeId\":1,\"LogSource\":\"ADF\",\"ActivityType\":\"Copy to SQL\",\"StartDateTimeOffSet\":\"', string(pipeline().TriggerTime), '\",\"EndDateTimeOffSet\":\"', string(utcnow()), '\",\"RowsInserted\":\"', string(activity('Copy to SQL').output.rowsCopied), '\",\"Comment\":\"\",\"Status\":\"Complete\"}'))",
              "type": "Expression"
            },
            "FunctionName": "Log",
            "Method": "Post"
          }
        }
      },
      {
        "name": "Execute AZ_SQL_Post-Copy",
        "type": "ExecutePipeline",
        "dependsOn": [
          {
            "activity": "Pipeline AF Log - ADLS to Azure SQL Succeed",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "pipeline": {
            "referenceName": "GPL_AzureSQLTable_NA_Post_Copy_IRA",
            "type": "PipelineReference"
          },
          "waitOnCompletion": true,
          "parameters": {
            "TaskObject": {
              "value": "@pipeline().parameters.TaskObject",
              "type": "Expression"
            }
          }
        }
      }
    ],
    "parameters": {
      "TaskObject": {
        "type": "object"
      }
    },
    "folder": {
      "name": "ADS Go Fast/Data Movement/IRA"
    },
    "annotations": [],
    "lastPublishTime": "2020-07-29T09:43:40Z"
  },
  "type": "Microsoft.DataFactory/factories/pipelines"
}
